$main: #f36671;
$dark: #191919;
$mediumdark: rgba(0, 0, 0, 0.7);
$light: #f7f7f9;
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
}
// PlanList
.planlist {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position: absolute;
  top: 64px;
  bottom: 0px;
  right: 0px;
  z-index: 996;
  &__toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 4rem;
    border-radius: 0.5rem 0 0 0.5rem;
    background-color: #f7f7f9;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
    img {
      height: 1rem;
    }
  }
  .disappear {
    animation: disappear-planlist 1s forwards;
  }
  &__wrapper {
    background-color: #fff;
    background-color: $light;
    width: 23rem;
    height: 100%;
    padding: 2rem 1rem 3rem 1.2rem;
    border-radius: 0.5rem 0 0 0.5rem;
    animation: appear-planlist 1s;
    .planlist__content {
      height: 100%;
      padding: 1rem;
      .planlist__title {
        display: flex;
        flex-direction: column;
        height: 5vh;
        margin-bottom: 1rem;
        &__input {
          font-size: 1.1rem;
          font-weight: 700;
          width: 13rem;
          padding: 0.4rem 0;
          border-bottom: $light 1.6px solid;
          background-color: rgba(0, 0, 0, 0);
          &::placeholder {
            color: #ccc;
          }
          &:focus {
            border-bottom: 1px solid #ebabb2;
          }
        }
      }
      .planlist__public-toggle__switch-text {
        position: absolute;
        left: 15.8rem;
        top: 2.8rem;
        font-size: 1rem;
        width: 3rem;
        text-align: center;
        font-weight: 500;
      }
      .planlist__public-toggle {
        position: absolute;
        left: 18rem;
        display: flex;
        &__switch-checkbox {
          display: none;
        }
        &__switch-label {
          display: flex;
          align-items: center;
          justify-content: space-around;
          font-size: 1rem;
          position: absolute;
          height: 1.4rem;
          width: 2.6rem;
          border-radius: 50px;
          border: #ccc 2px solid;
          span {
            margin-right: 0.6rem;
            margin-left: 0.6rem;
          }
        }
        &__ball {
          cursor: pointer;
          position: absolute;
          left: 1.2px;
          top: 1px;
          background-color: rgb(214, 206, 148);
          transition: all 0.2s linear;
          border-radius: 50%;
          height: 1rem;
          width: 1rem;
          text-align: center;
        }
        .moveToRight {
          transform: translateX(1.2rem);
          background-color: #ccc;
        }
      }
      .planlist__represent-address {
        height: 2.3rem;
        border: 1px solid #ccc;
        padding: 0.2rem 0.7rem;
        border-radius: 3px;
        font-size: 0.85rem;
      }
      .planlist__dailyplan {
        display: flex;
        flex-direction: column;
        overflow-x: visible;
        &__top-bar {
          position: relative;
          display: flex;
          justify-content: center;
          margin-bottom: 1.4rem;
          margin-top: 1.8rem;
          &__select-day {
            margin: 0 1.7rem;
            font-size: 1.1rem;
            font-weight: 700;
          }
          ul {
            top: 2rem;
            font-size: 1rem;
            position: absolute;
            border: 1px solid $main;
            z-index: 999;
            li {
              list-style: none;
            }
          }
          &__prev,
          &__next {
            font-size: 0.9rem;
            font-weight: 700;
            padding: 0rem 0.4rem;
            border-radius: 8px;
            background-color: #eee;
            color: #aaa;
            &:hover {
              color: $main;
              background-color: #ffe8eb;
              transition: 0.4s all ease;
            }
          }
        }
        &__plancards {
          height: 34rem;
          overflow-x: visible;
          overflow-y: scroll;
          &__grid {
            position: relative;
            top: 1rem;
            left: 0.2rem;
            width: 270px;
            div {
              border-bottom: 1px solid #eee;
              position: relative;
              height: 68px;
              margin-top: 8px;
              font-size: 0.7rem;
              span {
                color: #bac0c8;
                padding: 0.2rem 0.5rem;
                border-radius: 5rem;
              }
            }
          }
        }
      }
      .planlist__save {
        float: right;
        &__button {
          text-align: center;
          vertical-align: middle;
          height: 2rem;
          width: 6rem;
          border-radius: 3px;
          margin-top: 0.5rem;
          margin-bottom: 0.5rem;
          background-color: $main;
          color: #fff;
          font-size: 0.8rem;
          font-weight: 400;
          &:hover {
            background-color: #b3535b;
            transition: all ease 0.3s;
          }
        }
      }
    }
  }
}

@keyframes disappear-planlist {
  from {
    margin-right: 0;
  }
  to {
    display: none;
    margin-right: -326px;
  }
}

@keyframes appear-planlist {
  from {
    margin-right: -326px;
  }
  to {
    margin-right: 0;
  }
}

// Plan Summary
.plansummary {
  width: 350px;
  height: 190px;
  margin: 1rem;
  border-radius: 3px;
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.1);
  &__contents__plan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0.4rem;
    width: 360px;
    height: 200px;
    border-radius: 3px;
    z-index: 1;
    &__title {
      width: 280px;
      position: absolute;
      margin-bottom: 6.5rem;
      margin-left: 2.5rem;
      font-size: 1.03rem;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &__info {
      width: 270px;
      position: absolute;
      margin-bottom: 3.8rem;
      margin-left: 2.5rem;
      font-size: 0.75rem;
      font-weight: 600;
      opacity: 0.7;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &__description {
      position: absolute;
      margin-top: 1.5rem;
      margin-left: 2.5rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 0.8rem;
      width: 270px;
      height: 2rem;
    }
    // &__copied {
    //   opacity: 0;
    //   width: 0rem;
    //   position: absolute;
    //   background-color: rgba(255, 122, 122, 0.3);
    //   overflow: hidden;
    //   white-space: nowrap;
    //   font-size: 0.75rem;
    //   font-weight: 500;
    //   padding: 0.2rem 0.3rem;
    //   margin-top: 9rem;
    //   margin-left: 10rem;
    //   text-align: center;
    //   border-radius: 3px;
    // }
    // .show {
    //   opacity: 1;
    //   width: 11rem;
    //   transition: all 3s ease;
    // }
    &__showmore {
      cursor: pointer;
      box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.1);
      width: 2rem;
      height: 2rem;
      border-radius: 1.1rem;
      margin-left: 2.5rem;
      margin-top: 6rem;
      display: flex;
      overflow: hidden;
      flex-wrap: nowrap;
      align-items: center;
      img {
        margin: 0.75rem;
        width: 0.7rem;
        height: 0.7rem;
        opacity: 0.7;
      }
      p {
        color: #555;
        opacity: 0;
        font-size: 0.85rem;
        font-weight: 500;
        margin-bottom: 0.1rem;
        margin-right: 0.7rem;
      }
    }
  }
  &:hover .plansummary__contents__plan__showmore {
    width: 8rem;
    border-radius: 4rem;
    transition: 0.3s all ease;
    background-color: #fddde1;
  }
  &:hover .plansummary__contents__plan__showmore-text {
    opacity: 1;
    transition: 0.5s all ease;
    transition-delay: 0.2s;
  }
  &__contents__plan:hover &__contents__plan-hover {
    display: block;
  }
  //바꾸기
  &__contents__plan-hover {
    // display: none;
    display: block;
    position: absolute;
    width: 60px;
    height: 170px;
    &__share-btn {
      cursor: pointer;
      box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.1);
      width: 2rem;
      height: 2rem;
      border-radius: 1.1rem;
      position: absolute;
      top: 7.2rem;
      left: 18rem;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        background-color: #f8f8f8;
      }
      img {
        opacity: 0.7;
        width: 0.8rem;
        height: 0.8rem;
      }
      &-hover {
        position: absolute;
        margin-right: 3rem;
      }
      div {
        position: absolute;
        left: 2.5rem;
        top: 0.8rem;
        width: 8rem;
        border: 1px solid #ccc;
        border-radius: 3px;
        button {
          padding: 0.2rem 0.5rem;
          width: 100%;
          text-align: left;
          border-bottom: 1px solid #eee;
          &:hover {
            background-color: rgba(238, 238, 238, 0.7);
          }
        }
      }
    }
    &__cancel-btn {
      background-color: #fff;
      position: absolute;
      cursor: pointer;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      top: 0.5rem;
      left: 18.2rem;
      font-weight: 500;
      font-size: 1.1rem;
      opacity: 0.6;
      &:hover {
        color: $main;
        background-color: #f3667234;
      }
    }
  }
}

// Plan Card
.plancard {
  width: 200px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
  box-shadow: 0px 0px 2px 0.2px rgba(0, 0, 0, 0.1);
  &__title {
    color: #525762;
    height: 1.2rem;
    vertical-align: center;
    position: relative;
    top: 8%;
    font-size: 0.75rem;
    font-weight: 500;
    margin-top: 0.1rem;
    margin-left: 6.6rem;
  }
  .set-theme {
    margin-left: 1rem;
    top: 8%;
  }
  .set-time {
    margin-top: 0.1rem;
    margin-left: 1rem;
    top: 8%;
  }
  &__delete-btn {
    display: none;
  }
}

// AddPlan
.addPlan {
  position: absolute;
  bottom: 2rem;
  right: 25rem;
  display: flex;
  flex-direction: column;
  width: 24rem;
  // height: 15rem;
  padding: 1rem 1rem 0 2rem;
  background-color: #fff;
  border: 2px solid $main;
  border-radius: 0.5rem;
  &__cancle-btn {
    margin-left: auto;
    &:hover {
      color: $main;
      transition: all ease 0.2s;
    }
  }
  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem 0 0;
    .addPlan__title {
      width: 100%;
      margin-bottom: 1rem;
      font-size: 1rem;
      border-bottom: 2px solid $light;
      padding-left: 0.5rem;
      &:focus {
        outline: none;
        border: 1px solid $main;
        border-radius: 0.5rem;
        transition: all ease 0.3s;
      }
    }
    .addPlan__address {
      position: relative;
      display: flex;
      align-items: center;
      height: 2rem;
      margin-bottom: 1rem;
      img {
        flex: none;
        margin-right: 0.6rem;
        height: 1.2rem;
      }
      input {
        background-color: $light;
        flex: 1 1 auto;
        height: 100%;
        border-radius: 0.5rem;
        padding-left: 0.5rem;
        &:focus {
          outline: none;
          border: 1px solid $main;
          border-radius: 0.5rem;
          transition: all ease 0.3s;
        }
      }
      ul {
        font-size: 0.8rem;
        position: absolute;
        top: 2.5rem;
        left: 1.8rem;
        width: 90%;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 3px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        max-height: 15rem;
        box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
        overflow-y: scroll;
        li {
          cursor: pointer;
          list-style: none;
          padding: 0.3rem 1rem;
          height: 3rem;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          .address_name {
            font-size: 0.4rem;
            color: rgb(180, 176, 176);
            padding-left: 1.5rem;
          }
          &:hover {
            background-color: #f366721e;
          }
        }
      }
    }
    .addPlan__description {
      display: flex;
      align-items: center;
      height: 4rem;
      margin-bottom: 1rem;
      img {
        flex: none;
        margin-right: 0.6rem;
        height: 1.2rem;
      }
      textarea {
        resize: none;
        background-color: $light;
        flex: 1 1 auto;
        height: 100%;
        border-radius: 0.5rem;
        padding: 0.5rem;
        &:focus {
          outline: none;
          border: 1px solid $main;
          border-radius: 0.5rem;
          transition: all ease 0.3s;
        }
      }
    }
    .addPlan__submit-btn {
      margin-left: auto;
      margin-bottom: 2rem;
      width: 5rem;
      height: 2rem;
      border-radius: 0.5rem;
      border: 1px solid $main;
      color: $main;
      &:hover {
        background-color: $main;
        color: #fff;
        transition: all ease 0.2s;
      }
    }
  }
}
.addDesc {
  position: absolute;
  top: 3.2rem;
  left: 10.8rem;
  height: 19rem;
  padding: 1rem 1rem 0 2rem;
}
.react-grid-item:hover .plancard__delete-btn {
  display: block;
  position: absolute;
  top: 8%;
  margin-left: 12.2rem;
  height: 1.2rem;
  color: $main;
  font-weight: 600;
}
