$main: #f36671;
$dark: #191919;
$mediumdark: rgba(0, 0, 0, 0.7);
$light: #e8e8e8;
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Noto Sans KR", sans-serif;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgba($color: #fff, $alpha: 1);
}

.navbar {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 998;
  height: 64px;
  width: 100vw;
  min-width: 760px;
  max-width: 1792px;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 1px solid $light;
  .navbar__logo {
    img {
      height: 24px;
      padding: 0 10rem;
      cursor: pointer;
    }
  }
  .navbar__btns {
    padding: 0px 80px;
    button {
      color: $dark;
      margin-left: 8px;
      height: 36px;
      width: 84px;
      border-radius: 18px;
      border: 1px solid $light;
      font-weight: 400;
      font-size: 14px;
      &:hover {
        background-color: $main;
        color: #fff;
        border: none;
        transition: all ease 0.3s;
      }
    }
  }
}

// Modal
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  &__outsider {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $mediumdark;
  }
  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 380px;
    min-height: 200px;
    border-radius: 4px;
    .modal__close-btn {
      position: sticky;
      background-color: #fff;
      font-size: 1rem;
      border: 0;
      outline: 0;
      position: relative;
      top: -2.4rem;
      left: 170px;
      &:hover {
        color: $main;
        transition: all ease 0.2s;
      }
    }
    .modal__caution {
      font-size: 1.5rem;
      font-weight: 900;
      color: $main;
      margin-top: -1rem;
      margin-bottom: 1.2rem;
    }
    .modal__title {
      margin-top: -1rem;
      position: relative;
      color: $dark;
      font-weight: 500;
      font-size: 1rem;
    }
    .modal__input-text {
      border: 2px solid $light;
      border-radius: 3px;
      margin-top: 1rem;
      padding: 0.3rem 1rem;
    }
    .modal__btns {
      position: relative;
      top: 20px;
      width: 180px;
      height: 30px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
      button {
        font-size: 12px;
        font-weight: 700;
        border-radius: 4px;
        width: 80px;
        display: 60px;
        background-color: #fff;
        border: 1px solid $main;
        outline: 0;
        color: $main;
        &:hover {
          cursor: pointer;
          background-color: $main;
          border: 0;
          outline: 0;
          color: #fff;
          transition: all ease 0.2s;
        }
      }
    }
  }
}

.show {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: show-modal 0.4s;
}

@keyframes show-modal {
  from {
    opacity: 0.3;
    margin-top: 50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

// SetTheme
.set-theme {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  margin-left: 0.2rem;
  margin-top: 0.2rem;
  &__img {
    box-sizing: border-box;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid $main;
    border-radius: 4px;
    text-align: center;
    &:hover {
      background-color: $main;
    }
    div {
      position: relative;
      margin-left: 2px;
      margin-top: -2px;
    }
  }
  &__select-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 11rem;
    height: 2rem;
    border-radius: 4px;
    background-color: pink;
    .selectTheme {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 4px;
      border: 1px solid $main;
      background-color: white;
      &:hover {
        background-color: $main;
      }
      &-pick {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        text-align: center;
        margin-left: 1px;
        margin-top: -2px;
      }
    }
  }
}
